# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/.venv/
backend/shopcloud.db
backend/.pytest_cache/

# Node
node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & IDE
.env
.DS_Store
.vscode/
.idea/
